<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Solar Online Sales</title>
  <!-- Add Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <!-- Application -->
  <script src="../src/app.js"></script>
</head>
<body ng-app="solarSales">
  <h1>Tell us about yourself!</h1>
  <div ng-controller="salesController">
    <p>All fields are mandatory.</p>
    <form name="salesForm">
      <label id="label-name">
        <input type="text" ng-model="prospect.name" placeholder="Name" required />
      </label>
      <label id="label-age">
        <input type="number" ng-model="prospect.age" placeholder="Age" required />
      </label>
      <label id="label-address">
        <input type="text" ng-model="prospect.address" placeholder="Street Address" required />
      </label>
      <label id="label-city">
        <input type="text" ng-model="prospect.city" placeholder="City" required />
      </label>
      <label id="label-state">
        <input type="text" ng-model="prospect.state" placeholder="State" required />
      </label>
      <label id="label-zip">
        <input type="text" ng-model="prospect.zip" placeholder="Zip Code" required />
      </label>
      <label id="label-reasons">
        <p>Why are you interested in solar?</p>
        <textarea ng-model="prospect.reasons" required></textarea>
      </label>
      <button ng-click="addProspect(prospect)" ng-disabled="salesForm.$invalid" id="btn-add-prospect">Submit</button>
    </form>
  </div>
</body>
</html>
