<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Solar Online Sales</title>
  <!-- Add Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <!-- Application -->
  <script src="../src/app.js"></script>
</head>
<body ng-app="solarSales">
  <h1>Solar Online Sales</h1>
  <div ng-controller="salesController">
    <form name="salesForm">
      <label id="label-name">
        <p>Name</p>
        <input type="text" ng-model="prospect.name" />
      </label>
      <label id="label-age">
        <p>Age</p>
        <input type="number" ng-model="prospect.age" />
      </label>
      <label id="label-address">
        <p>Address</p>
        <input type="text" ng-model="prospect.address" />
      </label>
      <label id="label-city">
        <p>City</p>
        <input type="text" ng-model="prospect.city" />
      </label>
      <label id="label-state">
        <p>State</p>
        <input type="text" ng-model="prospect.state" />
      </label>
      <label id="label-zip">
        <p>Zip Code</p>
        <input type="text" ng-model="prospect.zip" />
      </label>
      <label id="label-reasons">
        <p>Why are you interested in solar?</p>
        <textarea ng-model="prospect.reasons"></textarea>
      </label>
      <button ng-click="addProspect(prospect)" id="btn-add-prospect">Submit</button>
    </form>
  </div>
</body>
</html>
